<div class="header-container">
  <h3 class="header-title">My flight plans</h3>
  <button class="newplan" title="Create new plan" (click)="requestNewFlightPlan()">New</button>
</div>
<ul class="flightplans">
  <li *ngFor="let flightPlan of flightPlans$ | async"
      [class.selected]="flightPlan.id === selectedId" (click)="select(flightPlan)">
    <a routerLink="/flight-plan/{{flightPlan.id}}">
      <span class="badge">{{flightPlan.id}}</span> {{flightPlan.name}}
    </a>
    <button class="delete" title="delete plan" (click)="delete(flightPlan)">x</button>
  </li>
</ul>
