<div class="header">
  <h3>Welcome to drone flight planner</h3>
</div>

<div class="row">
  <div class="column side">
    <app-flight-plan-list></app-flight-plan-list>
  </div>
  <div class="column middle">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</div>
