<div class="edit-name">
  <app-flight-plan-edit></app-flight-plan-edit>
</div>
<div leaflet class="map"
     leafletDraw
     [leafletOptions]="options"
     [leafletDrawOptions]="drawOptions"
     (leafletDrawReady)="onDrawReady($event)">
</div>
