<div class="form-container">
  <h3>Flight Plan Detail</h3>
</div>

<div class="form-container">
  <p>
    <label>Flight plan Name</label>
    <input class="input" type="text" [(ngModel)]="flightPlanName" placeholder="Name" />
  </p>
  <button class="save" title="Save plan name" (click)="updateFlightPlanName()" >Save</button>
</div>
